/* host list pane */
.host-list {
  max-height: calc(100% - 41px);
  overflow-y: scroll;
}

.host-item {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.host-item__name {
  width: calc(100% - 20px);
}

.host-add-btn {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 0;
}

.host-add-btn .host-add-btn__icon {
  float: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

/* host editor pane */
.host-editor-pane {
  padding-bottom: 40px;
}

.host-editor-pane__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 99%;
  resize: none;
  white-space: pre;
  outline: 0;
}

.host-editor-pane__btn-pane {
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 40px;
}

.host-editor-pane__btn {
  margin: 5px;
  cursor: pointer;
}

.host-editor-pane__btn:disabled {
  background-image: none;
  background-color: #e5e5e5;
  cursor: not-allowed;
}

.host-editor-pane__btn-icon {
  cursor: inherit;
}
